
*{
    font-family: Poppins, Verdana, Tahoma, sans-serif;
    padding:0;
    margin: 0;
    
}

header span{
    font-size: 15px;  
    text-align: center;    
    display: block;
}

h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

main{
   
    border: solid 1px gainsboro;
    margin: 20px;
    
    
}

article {
    font-size: 15px;
    padding: 10px 10px 20px 20px;
    border-bottom: solid  gainsboro 1px;
    background-color: #f1f1f1;
}

article p{
  margin-bottom: 25px;
}

.preface{
    text-align: center;
    padding: 50px;
    background-color:  gainsboro;
    
}

article img{
    width: 200px;
    margin: 2px;
}

.article-big{
 width:408px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  header li {
    float: right;
    text-align: center;
    font-size: 12px;
    
    
  }
  
  header li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:#ffda53;
  }
  
  a:visited{
    color: black;
  }

  .upper{
    text-align: center;
    padding: 14px 16px;
  }

  picture{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding: 20px;

  }

  footer{
      text-align: center;
      padding-bottom: 20px;
    
  }

  @media (min-width: 1024px){
    article {
        font-size: 14px;
        line-height: 30px;;
        color: white;
        padding: 10px 10px 20px 20px;
        border-bottom: solid  gainsboro 1px;
        background-color:gainsboro;
    }
  }






